.dropbtn {
    background-color: transparent;
    outline: none;
    width: 40px; height: 40px;
    color: #919191;
    padding: 8px;
    border-radius: 50%;
    font-size: 100%;
    border: none;
    cursor: pointer;
  }
  #fastBtn{
    fill:  #919191;
    width: 20px; height: 20px;
    margin-left: 2px;

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 60px;
    box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb),.26),0 2px 10px 0 rgba(var(--shadow-rgb),.16);
    z-index: 1;
    right: 4px;
    top: 44px
  }
  
  .dropdown-content a {
    color: #4a4a4a;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      /* background-color: #f1f1f1 */
  }
  .dropdown-content{
      transform-origin: right top;
      transform: scale(1);
      opacity: 1;
      padding: 9px 0px;
      border-radius: 3px;
  }
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */
  .block{
      display: block;
  }
  /* .dropdown:hover .dropbtn {
    background-color: #d5d5d5;
  } */
  .background-g{
      background-color: #d5d5d5;
      transition: background-color .3s ease;
      transition-property: background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }
  .aa:hover{
      background: #f5f5f5;
  }